  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
      <div class="container has-text-centered">
          <h1 class="title">
              Shaylin Barrett
          </h1>
          <h2 class="subtitle">
              Graphic Designer
          </h2>
      </div>
  </div>