@{
    ViewData["Title"] = "Categories";
}
<div class="columns is-mobile is-multiline is-centered">
  <div class="column is-narrow">
    <a class="bd-notification is-primary title button">
        Digital Art
    </a>
  </div>
  <div class="column is-narrow">
    <a class="bd-notification is-primary title button">
        Photography
    </a>
  </div>
  <div class="column is-narrow">
    <a class="bd-notification is-primary title button">
        Mixed Media
    </a>
  </div>
</div>